@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {

  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}
#root {

  justify-content: center;
  align-items: center;
  height: 100vh;
}
h6 {
  font-family: 'Press Start 2P';
}
